#section5 {
    padding: 5%;
}

.formulaire{
    max-width: 400px;
    border-radius: 6px;
    padding: 20px;
    height: 200px;;
    display: inline-block;
}

.formulaire input[type="text"],
.formulaire input[type="email"]
{
    width: 100%;
    height: 40px;
    background-color: white;
    margin-bottom: 15px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 6px;
}

.formulaire input[type="submit"] {
    background: rgb(43, 69, 71);
    color: white;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 6px;
}

.formulaire input[type="submit"]:hover {
    background: rgb(12, 68, 109);
}